<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" </head>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</head>

<body>
  <b>제목</b>
  <form action="{% url 'pjt1:edit_method' pjts.pk%}">
    <div>
      <input class="form-control" type="text" name="update-title" value="{{ pjts.title}}">
    </div>
    <b>내용</b>
    <p></p>
    <div class="mb-3">
      <textarea class="form-control" rows="3" type="text" name="update-content">{{ pjts.content }}</textarea>
    </div>
    <div class="d-grid"><input class="btn btn-primary" type="submit" value="리뷰 수정"></div>
  </form>
</body>

</html>