<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</head>

<body>
  index.html

  <!-- <form action="{% url 'pjt1:create'%}">
    <input type="text" name="create-title">
    <input type="text" name="content" id="">
    <input type="submit" value="리뷰 쓰기">
  </form> -->
  <p>
    <a href="{% url 'pjt1:new' %}">리뷰 작성</a>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">리뷰 번호</th>
        <th scope="col">리뷰 제목</th>
        <th scope="col">작성 시간</th>
      </tr>
    </thead>

    <tbody>
      {% for pjt in pjts %}
      <tr>
        <th scope="row">{{ pjt.id }}</th>
        <th><a href="{% url 'pjt1:detail' pjt.pk %}"> {{ pjt.title }} </a></th>
        <th> {{ pjt.content }}</th>
      </tr>
      {% endfor %}

    </tbody>
  </table>

</body>

</html>